@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

html {
  scroll-behavior: smooth;
  background-color: #f5f5f7;
}

body {
  overflow-x: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

/* Header Section */
.header {
  top: 0;
  z-index: 10;
  height: 44px;
  position: fixed;
  inset-inline: 0;
  column-gap: 24px;
  background-color: #f5f5f7;
}

.header__link {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
}

.header__icons {
  column-gap: 24px;
}

.header__icon {
  width: 30px;
}

.header__icon--image--menu {
  display: none;
}

.ribbon {
  height: 60px;
  font-size: 14px;
  color: #1d1d1f;
  margin-top: 44px;
  font-weight: 400;
  background-color: #fff;
}

.gradient-header {
  width: 100%;
}

.store-container {
  display: flex;
  padding: 80px 140px;
  align-items: center;
  justify-content: space-between;
}

.store-header {
  column-gap: 32px;
}

.rainbow-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
}

.store-title {
  font-size: 44px;
  font-weight: 700;
}

.store-subtitle {
  color: #6e6e73;
  font-size: 44px;
  font-weight: 700;
}

.store-support {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}

.support-item {
  display: flex;
  column-gap: 16px;
  justify-content: space-between;
}

.support-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  color: #0066cc;
}

.section-header {
  display: flex;
  column-gap: 4px;
  align-items: center;
  margin-bottom: 24px;
}

.store-section-title {
  font-size: 24px;
  font-weight: 700;
}

.store-section-subtitle {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
}

/* Product Section */
.products-cards {
  display: flex;
  margin-bottom: 60px;
  padding-inline: 140px;
}

.product-card {
  padding: 16px 8px;
}

.product-card-image {
  width: 120px;
  height: 78px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  font-size: 14px;
  color: #1d1d1f;
  margin-top: 18px;
  font-weight: 700;
  text-align: center;
}

/* Latest Section */

.latest-products-section {
  padding-left: 140px;
}

.inner-products-cards {
  width: 100vw;
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.product-description {
  color: rgba(182, 68, 0, 1);
}

.latest-product-card1 {
  background-size: cover;
  background-position: center;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-image: url(./storealtaniphone16pro.jpg);
}

.product-name {
  font-size: 26px;
  font-weight: 700;
}

.text-white {
  color: #fff;
}
.latest-product-card2 {
  background-size: cover;
  background-position: center;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-image: url(storealtanwatch.jpg);
}

.product-name {
  font-size: 26px;
  font-weight: 700;
}

.text-black {
  color: black;
}
.latest-product-card3 {
  background-size: cover;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-image: url(./storeipadmini.jpg);
}
.latest-product-card4 {
  background-size: cover;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-image: url(./storemacbookpro.jpg);
}
.latest-product-card5 {
  background-size: cover;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-image: url(./ipod.jpeg);
}
.latest-product-card6 {
  background-size: cover;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-image: url(./iiphone.jpeg);
}
.latest-product-card7 {
  background-size: cover;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
}
.latest-product-card8 {
  background-size: cover;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
}
.latest-product-card9 {
  background-size: cover;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
}
.latest-product-card10 {
  background-size: cover;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
}
.latest-product-car11 {
  background-size: cover;
  width: 480px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  row-gap: 12px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
}
